/*----------Root---------*/ 
:root{
--font-ral:"Raleway", sans-serif;
--font-rob:"Roboto", sans-serif;

--font-weig:500;
--font-weig-b:700;

--color-change:#2196F3;
--color-studio:#000000;
--color-link:#212121;
--color-bckg:#2F303A;
--color-white:#FFFFFF;
--color-main:#757575;
--color-footer-mail:rgba(255, 255, 255, 0.6);
--color-filter:#F5F4FA;
--color-change-butt:#188CE8;

--line-nav:1.14;
--line-title:1.568;
--line-logo:1.19;
}




/*----------BODY---------*/ 
body{
font-family:"Roboto", sans-serif;
font-weight: 400;
font-size:16px;
letter-spacing: 0.03em;
color:var(--color-main);
}
/* ----------------NORMAL-------------- */
h1,
h2,
h3,
p
{margin:0;}

ul{
list-style: none;
margin: 0;
padding: 0;
}

section{
    margin-top: 94px;
    margin-bottom: 94px;
}

img{
    display: block;
}

/*----------HEADER---------*/ 

.header{
height: 80px;
padding-bottom: 25;
display: flex;

justify-self: center;


width: 1200px;
left: 0px;
top: 0px;
color: var(--color-white); 
}
.conteiner{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    outline: 3px solid red;
}

.header-logo{
    width: 152px;
    height: 31px;

    margin-right: 86px;
    padding-bottom: 25px;
    padding-top: 24px;
}

.header-studio{
font-family:var(--font-ral);
font-weight: var(--font-weig-b);
font-size: 26px;
line-height:var(--line-logo);
color:var(--color-studio);
text-decoration: none;
}

.header-web{
font-family: var(--font-ral);
font-weight:var(--font-weig-b);
font-size: 26px;
line-height: var(--line-logo);
color:var(--color-change);
}

.header-navigation{
font-weight: var(--font-weig);
font-size: 14px;
line-height:var(--line-nav);
letter-spacing: 0.02em;

}

.header-list
{list-style: none;
display: flex;
gap: 50px;
padding-top: 32px;
}

.link{
text-decoration:none;
color: var(--color-link);
}

.link:hover,
.link:focus{
color:var(--color-change);
}
.header-contacts{
    margin-left: 344px;
}
.contact-tel{
text-decoration: none;
font-weight:var(--font-weig);
font-size: 14px;
line-height:var(--line-nav);
letter-spacing: 0.02em;
color:var(--color-main);
}
.contact-tel:hover,
.contact-tel:focus{
color: var(--color-change);
}


/*----------HEROY---------*/ 
.main-heroy{
padding-top: 200px;
padding-bottom: 200px;
margin: 0 auto;
width: 1200px;

background-color: var(--color-bckg);
}

.heroy-title{
padding-left: 252px;
padding-right: 252px;

font-weight: 900;
font-size: 44px;
line-height: 1.33;
color:var(--color-white);
text-transform: uppercase;
text-align-last: center;
}
.position-button{
    margin-top: 30px;

}
.main-button{
    min-width: 216px;
    min-height: 50px;

    display: block;
    margin: 0 auto;

font-weight:var(--font-weig-b);
font-size: 16px;
line-height: 1.875;
letter-spacing: 0.06em;
background-color:var(--color-change);
color: var(--color-white);
cursor: pointer;
}
.main-button:hover,
.main-button:focus{
background-color:var(--color-change-butt);
}

/*----------SKILLS---------*/ 

.skill{}

.skill h2
{display: none;}

.skill-list
{list-style: none;
display: flex;
gap: 30px;
padding-top: 0;
padding-bottom: 0;
width: 1170px;
height: 98px;

}

.skill-title{
font-weight:var(--font-weig-b);
font-size: 14px;
line-height:var(--line-nav);
color:var(--color-link);
margin-bottom: 10px;
width: 270px;
height: 16px;
}

.skill-text{
font-size: 14px;
line-height: 1.714;
color:var(--color-main);

width: 270px;
height: 72px;
}



/*----------WORK---------*/ 

.work{}

.work-title{
width: 366px;
height: 42px;
margin: 0 auto;
margin-bottom: 50px;
}

.title{
font-weight:var(--font-weig-b);
font-size: 36px;
line-height: 1.166;
text-align: center;
color:var(--color-link);
margin-bottom: 50px;
}

.work-image
{list-style: none;
display: flex;
gap: 30px;
justify-content:space-between;

}

/*----------TEAM---------*/ 

.team{
background-color: #F5F4FA;
width: 1200px;
margin: 0 auto;
padding-bottom: 94px;
}
.team-cards{
}

.team-list
{list-style: none;
display: flex;
gap: 30px;
}
.team-image{}

.team-description{
margin: 0 auto;
padding-top: 30px;
padding-bottom: 30px;

border-right: 108px;
border-bottom: 270px;
border-left: 108px;
background-color:var(--color-white);
text-align-last: center;

}

.team-title{
font-weight:var(--font-weig);
font-size: 16px;
line-height: 1.187;
color:var(--color-link);
margin-bottom: 10px;
}
.team-text{
font-size: 16px;
line-height:1.1718;
}


/*----------FOOTER---------*/ 
footer{
    background-color: var(--color-bckg);
    width: 1200px;
    height: 252px;
margin: 0 auto;
}
.footer-text{
    padding-top: 60px;
    padding-bottom: 60px;

}

.footer-studio{
font-family:var(--font-ral);
font-weight:var(--font-weig-b);
font-size: 26px;
line-height:var(--line-logo);
color:var(--color-white);
text-decoration: none;
}

.footer-web{
font-family: var(--font-ral);
font-weight:var(--font-weig-b);
font-size: 26px;
line-height:var(--line-logo);
color:var(--color-change);
}
.addres{
font-style: normal;
}
.footer-addres{
font-size: 14px;
line-height:var(--line-title);
text-decoration: none;
color:var(--color-white);
}
.footer-list{
list-style: none;
}
.footer-mail{
text-decoration: none;
color:var(--color-footer-mail);
font-size: 14px;
line-height: 1.714;

}
.footer-mail:hover,
.footer-mail:focus{
color:var(--color-change);
}

/*----------PORTFOLIO---------*/ 

.portfolio-main-title
{display: none;}
.button-list{
width: 574px;
height: 54px;
padding-left: 513px;
}
.button-filter
{list-style: none;
display:flex;
justify-content: center;
}
.portfolio-button{
background-color: var(--color-filter);
font-family:var(--font-rob);
font-weight: var(--font-weig);
font-size: 16px;
line-height:1.625;
text-align-last: center;
letter-spacing: 0.03em;
color:var(--color-link);
background: #F5F4FA;
cursor: pointer; 

padding-top: 6px;
padding-right: 22px;
padding-bottom: 6px;
padding-left: 22px;
}
.portfolio-button:hover,
.portfolio-button:focus{
background-color:var(--color-change);
}
.portfolio-button:hover,
.portfolio-button:focus{
color: var(--color-white);
}

.portfolio-image
{list-style: none;
display: flex;
flex-wrap: wrap;
column-gap: 30px;
row-gap: 44px;
text-align-last: center;
}
.portfolio-discription{
margin: 0 auto;
padding-top: 20px;
padding-bottom: 20px;
padding-left: 24px;

border-right: 110px;
border-bottom: 370px;
border-left: 108px;
background-color: #FFFFFF;
border: 1px solid #EEEEEE;
text-align-last:left;
}

.portfolio-title{
font-weight:var(--font-weig-b);
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color:var(--color-link);
}

.portfolio-text
{line-height: 1.875;}
/*-------------HOME_WORK_ENDED----------------*/